#!/usr/bin/env python
from typing import Any
from typing import TypeAlias

import tensorshield.ext.miner


ProtocolType: TypeAlias = Any


class Miner(tensorshield.ext.miner.Miner[ProtocolType]):
    __module__: str = '{{ app_name }}.app'

    async def configure(self, reloading: bool = False):
        """Setup the internal state of the Neuron. If `reloading`
        is ``True``, then the main event loop is running and the
        configuration was triggered by an interrupt signal or user
        defined condition.
        """
        await super().configure(reloading=reloading)